# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '$'

# JWT Secret (must match backend JWT_SECRET_KEY)
JWT_SECRET_KEY = 'jwt-secret-string-change-in-production'

# Backend URL
FLASK_BACKEND_URL = 'http://127.0.0.1:5000'
